.container {
    *{
        margin: 0;
    }
    > div{
        margin: 0 0rem 0.7rem 0rem;
    }
    //内部flex
    //position: relative;
    //display: flex;
    //width: 100%;
    //height: 100%;
    //justify-content: space-around;
    //align-items: center;
    text-align: center;


    .answerPart{
        .title{
            font-size: 1.5rem;
            color: #000000;
            opacity: 0.65;
            margin-top: 1.2rem;
        }

        .introduce{
            font-size: 1rem;
            color: #000000;
            opacity: 0.65;

            margin: 1rem auto 0 auto;
            max-width: 13.9rem;
        }

        .answerList{
            margin: 1.6rem auto 1.3rem auto;
            text-align: center;
            .answerBar{
                line-height: 1.7rem;
                border-radius: 5px;
                font-size: 0.8rem;
                border: 1px solid;
                min-height: 1.7rem;
                width: 13.9rem;
                margin: 0 auto 0.5rem auto;
                //margin-bottom: 0.5rem;
                color: black;
                background-color: white;
            }
        }

    }
    //卡片背景
    //background-color: white;
    //box-shadow: 0px 0.1rem 0.4rem 0.3rem #888888;
    //box-shadow: 0px 10rem 20vw;

    .post{
        background-color: #108ee9;
        height: 2rem;
        line-height: 2rem;
        color: white;
        font-size: 1rem;
        //opacity: 0.65;
    }

    .tips{
        padding: 0.8rem;
        .title{
            font-size: 1.5rem;
            color: #000000;
            opacity: 0.65;
        }
        .content{
            font-size: 0.8rem;
            color: #000000;
            opacity: 0.65;
            margin-top: 0.6rem;
        }

    }

    .nextButton{
        background-color: #108ee9;
    }
}

