.wrapper {
    position: relative;
    margin: 20px;
    height: 100%;
    .time {
        margin-bottom: 6rem;
    }
    .btn_wrapper {
        position: absolute;
        top: 70%;
        width: 100%;
        .btn {
            height: 2.2rem;
            font-size: 1.2rem;
        }
    }
}
:global {
    .am-modal {
        width: 100% !important;
        padding: 20px !important;
    }
}