.wrapper {
    text-align: center;
    padding: 1rem;
    .title {
        color: #333;
        font-size: 1rem;
        padding-bottom: 1rem;
        margin: 0;
    }
    .text_body {
        color: #333;
        font-size: 0.8rem;
        text-align: left;
        word-break: break-all;
        padding: 0 1rem;
    }
}